# Analytics query example

In this notebook, we connect to the DWH and execute a query with heavy joins
as an example of the analytics powered.

In [1]:
# import required libraries
import configparser

In [2]:
# allow using sql within the notebook
%load_ext sql

In [3]:
# Get parameters for connecting to the WH
config = configparser.ConfigParser()
config.read('dwh.cfg')
DWH_DB_USER=config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD=config.get("CLUSTER","DB_PASSWORD")
DWH_DB=config.get("CLUSTER","DB_NAME")
DWH_PORT=config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT=config.get("CLUSTER","HOST")

In [4]:
# Connect to the DWH
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.chz2c74yixll.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In the query below we try to find the artists with the most songplays across weeks
and how the songplay count is distributed across gender

In [5]:
%%sql
select count(f.songplay_id) as spcount, u.gender, t.week, a.name
From songplay f
join users u on f.user_id=u.userid
join time t on f.start_time=t.start_time
join artists a on f.artist_id=a.artist_id
group by u.gender, t.week, a.name
order by spcount desc, t.week
limit 10;

 * postgresql://dwhuser:***@dwhcluster.chz2c74yixll.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(32, 'F', 46, 'Dwight Yoakam'),
 (28, 'F', 47, 'Dwight Yoakam'),
 (20, 'F', 48, 'Dwight Yoakam'),
 (16, 'M', 45, 'Dwight Yoakam'),
 (12, 'F', 44, 'Dwight Yoakam'),
 (12, 'F', 45, 'Ron Carter'),
 (12, 'F', 45, 'Muse'),
 (12, 'F', 45, 'Alicia Keys'),
 (12, 'F', 45, 'Dwight Yoakam'),
 (12, 'M', 46, 'Dwight Yoakam')]